# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://rebecwcopqlnnrvthvgi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_8yHzNOTTKXFdKUsviknRJA_WeemMCGe
DATABASE_URL=postgresql://postgres.rebecwcopqlnnrvthvgi:[SUA_SENHA]@aws-0-us-east-2.pooler.supabase.com:6543/postgres

# Admin Security Master PIN
ADMIN_MASTER_PIN=195026
ADMIN_JWT_SECRET=turing_lab_classified_secret_key_change_in_production
